parameters:
    freelo:
        forbiddenIpRanges: [
{{- range . }}

            # {{ .Name }}
            {{ range .IPv4 -}}
            {{ . }}/32
            {{ end }}
            {{ range .IPv6 -}}
            {{ . }}/64
            {{ end -}}

{{ end }}
        ]
